#Heavy Directories and symlinks to directories
PLOTS/*/
PLAYGROUND/
LOGS/
OUTPUT/
OUTPUT
benchmarks/

#Unwanted extensions
*.pyc
*~
*.png
*.eps
*.gsd

#Temporary files
MinimizeSegment.txt
helloworld.py

#jupyter shit
.ipynb_checkpoints