#Heavy Directories and symlinks to directories
PLOTS/*/
PAPERS/
PLAYGROUND/
LOGS/
OUTPUT/
OUTPUT
benchmarks/
test-output/*
heavytraj*/
borrar
DRAFT

#Unwanted extensions
*.pyc
*~
*.png
*.eps
*.gsd
*.in

#Temporary files
MinimizeSegment.txt
helloworld.py

#jupyter shit
.ipynb_checkpoints